.call-us-now{
    padding:40px 0px 50px 0px;
    .inner-column{
        padding-top:75px;
    }
    .call{
        margin-top: 25px;
        font-weight: 600;
        a{
            color:var(--white-color);
        }
    }
}