.btn-theme {
  position: relative;
  font-weight: 500;
  line-height: 33px;
  overflow: hidden;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 35px 10px;
  border: none;
  cursor: pointer;
  &.btn-remove-radius{
    border-radius: 0%;
  }
  &::before {
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: -200%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 1;
    background: #0f0f2d;
  }
  &.btn-border {
    border: 1px solid var(--white-color);
    color: var(--white-color);
    background: transparent;
    &::before {
      background: linear-gradient(94.53deg, #fd654e 1.27%, #f28b28 102.78%);
    }
    &:hover {
      border: 1px solid #fd654e;
      &::before {
        background: linear-gradient(94.53deg, #fd654e 1.27%, #f28b28 102.78%);
      }
    }
  }
  &.btn-long{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-wrap{
      float:none;
    }
  }
  // color
  &.orange {
    background: linear-gradient(94.53deg, #fd654e 1.27%, #f28b28 102.78%);
  }
  &.blue {
    background: linear-gradient(
      94.53deg,
      #1434a8 1.27%,
      #2a58fe 102.78%
    );
    &::before{
      background: linear-gradient(94.53deg, #fd654e 1.27%, #f28b28 102.78%);
    }
    &:hover{
      &::before{
        background: linear-gradient(94.53deg, #fd654e 1.27%, #f28b28 102.78%);
      }
    }
  }
  &.black{
    background-color: #0f0f2d;
    &::before{
      background-color: #ff0075;
    }
    &:hover{
      &::before{
        background-color: #ff0075;
      }
    }
  }
  .btn-wrap {
    position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    display: inline-block;
    .text-one {
      position: relative;
      display: block;
      color: #fff;
      transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    .text-two {
      position: absolute;
      top: 100%;
      display: block;
      color: #fff;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  i {
    position: relative;
    z-index: 1;
    top: 1px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
    margin-left: 10px;
    transform: rotate(-45deg);
  }
  // Hover button
  &:hover {
    &::before {
      top: -40%;
    }
    .text-one {
      transform: translateY(-150%);
    }
    .text-two {
      top: 50%;
      transform: translateY(-50%);
    }
    i {
      transform: rotate(0deg);
    }
  }
}
