.comment-post {
  padding: 3em 2em 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @media only screen and (min-width: 992px) {
    font-size: 14px;
  }

  @media only screen and (min-width: 576px) and (max-width: 992px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 11px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  &_img {
    width: 3.5em;
  }
  &_text {
    margin-top: 2em;
    p {
      font-size: 1.5em;
      font-style: italic;
    }
  }
  &_author {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    &-avatar {
      padding: 0.3em;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-info {
      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
