@use "./Assets/scss/variable.scss";
@use "./Assets/scss/animation.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px !important;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

p {
  margin: 0;
}
.image-column-home {
  position: relative;
  .icon-layer {
    position: absolute;
    left: 0px;
    top: 70px;
    right: 0px;
    bottom: 0px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.image-column {
  position: relative;
  .icon-layer-shape {
    position: absolute;
    left: 0px;
    top: 70px;
    right: 0px;
    bottom: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.image-center {
  display: block;
  margin: 0 auto;
}
.MuiGrid-item{
  width: 100%;
}

@media (min-width: 420px) {
  .MuiContainer-root {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (min-width: 576px) {
  .MuiContainer-root {
    max-width: 768px !important;
  }
}

@media (min-width: 768px) {
  .MuiContainer-root {
    max-width: 992px !important;
  }
}

@media (min-width: 992px) {
  .MuiContainer-root {
    max-width: 1200px !important;
  }
}
@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 1320px !important;
  }
}
@media (max-width: 1199px) {
  .icon-layer-shape {
    display: none;
  }
}
